body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    text-decoration: 2px solid red underline;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.flex-items{
    color: white;
    margin: 20px;
    padding: 4px;
    border: 2px solid coral;
    width: fit-content;
}
.flex-items:hover{
    border-color: blue;
}

